In [1]:
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules

In [2]:
df = pd.read_csv("basket (1) (1).csv")

In [3]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14963 entries, 0 to 14962
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       14963 non-null  object
 1   1       14963 non-null  object
 2   2       4883 non-null   object
 3   3       2185 non-null   object
 4   4       795 non-null    object
 5   5       451 non-null    object
 6   6       276 non-null    object
 7   7       196 non-null    object
 8   8       51 non-null     object
 9   9       1 non-null      object
 10  10      1 non-null      object
dtypes: object(11)
memory usage: 1.3+ MB

In [4]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,10
count,14963,14963,4883,2185,795,451,276,196,51,1,1
unique,165,165,154,146,126,101,88,72,35,1,1
top,whole milk,whole milk,whole milk,whole milk,whole milk,shopping bags,yogurt,whole milk,shopping bags,curd,newspapers
freq,1083,983,244,111,39,25,19,14,4,1,1

In [5]:
df.isnull().sum()

0         0
1         0
2     10080
3     12778
4     14168
5     14512
6     14687
7     14767
8     14912
9     14962
10    14962
dtype: int64

In [6]:

df.fillna("", inplace=True)
df.isnull().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
dtype: int64

In [7]:
df_dum = pd.get_dummies(df)

In [8]:
frequent_items = apriori(df_dum, min_support=0.01, use_colnames=True)

In [9]:
rules = association_rules(frequent_items, metric="confidence", min_threshold=0.01)

In [10]:
rules = rules.sort_values(["support", "confidence"], ascending=[False, False])

In [11]:
print(rules)

        antecedents                                        consequents  \
1024           (9_)                                              (10_)
1025          (10_)                                               (9_)
1020           (8_)                                               (9_)
1022           (8_)                                              (10_)
12222      (8_, 9_)                                              (10_)
...             ...                                                ...
1384208        (9_)    (4_, 7_, 0_hamburger meat, 6_, 10_, 5_, 8_, 2_)
1384212       (10_)     (4_, 9_, 7_, 0_hamburger meat, 6_, 5_, 8_, 2_)
1529537   (9_, 10_)     (4_, 7_, 0_hamburger meat, 6_, 5_, 3_, 2_, 8_)
1529571        (9_)  (4_, 0_hamburger meat, 7_, 6_, 10_, 5_, 3_, 2_...
1529575       (10_)  (4_, 9_, 0_hamburger meat, 7_, 6_, 5_, 3_, 2_,...

         antecedent support  consequent support   support  confidence  \
1024               0.999933            0.999933  0.999933    1.000000
1025               0.999933            0.999933  0.999933    1.000000
1020               0.996592            0.999933  0.996592    1.000000
1022               0.996592            0.999933  0.996592    1.000000
12222              0.996592            0.999933  0.996592    1.000000
...                     ...                 ...       ...         ...
1384208            0.999933            0.010025  0.010025    0.010025
1384212            0.999933            0.010025  0.010025    0.010025
1529537            0.999933            0.010025  0.010025    0.010025
1529571            0.999933            0.010025  0.010025    0.010025
1529575            0.999933            0.010025  0.010025    0.010025

             lift  representativity      leverage  conviction  zhangs_metric  \
1024     1.000067               1.0  6.682705e-05         inf       1.000000
1025     1.000067               1.0  6.682705e-05         inf       1.000000
1020     1.000067               1.0  6.660373e-05         inf       0.019608
1022     1.000067               1.0  6.660373e-05         inf       0.019608
12222    1.000067               1.0  6.660373e-05         inf       0.019608
...           ...               ...           ...         ...            ...
1384208  1.000067               1.0  6.699678e-07    1.000001       1.000000
1384212  1.000067               1.0  6.699678e-07    1.000001       1.000000
1529537  1.000067               1.0  6.699678e-07    1.000001       1.000000
1529571  1.000067               1.0  6.699678e-07    1.000001       1.000000
1529575  1.000067               1.0  6.699678e-07    1.000001       1.000000

          jaccard     certainty  kulczynski
1024     1.000000  1.000000e+00    1.000000
1025     1.000000  1.000000e+00    1.000000
1020     0.996658  1.000000e+00    0.998329
1022     0.996658  1.000000e+00    0.998329
12222    0.996658  1.000000e+00    0.998329
...           ...           ...         ...
1384208  0.010025  6.767973e-07    0.505013
1384212  0.010025  6.767973e-07    0.505013
1529537  0.010025  6.767973e-07    0.505013
1529571  0.010025  6.767973e-07    0.505013
1529575  0.010025  6.767973e-07    0.505013

[1559218 rows x 14 columns]